.block-factbox {
    background-color: #eee;
    padding: 20px;
}

.block-factbox-header {
    font-size: 1.375rem;
    padding-bottom: 8px;
}

.block-factbox-image-container {
    margin-bottom: 10px;
}